@using MeFamilyBackEnd.Models;
@using MeFamilyBackEnd.ViewModels;
@model HomeViewModel;

<section class="slider">
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/slide-1.jpg" class="img-fluid " alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/slide-2.jpg" class="img-fluid " alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/slide-3.jpg" class="img-fluid" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<section class="myFamily">
    <div class="container">
        <div class="row">
            <div class="textFamily text-center">
                <h1 class="fs-1">My & Family</h1>
                <p class="mt-5">
                    Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
                </p>
            </div>

            <div class="row pe-0 pe-lg-2">
                <div class="col-12 col-lg-6 pe-0 pe-lg-2  ">
                    <img src="~/1.jpg" class="order-1 familyImg">

                </div>

                <div class="col-lg-6 aboutFamily">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <ul>
                        <li>
                            <i class="fas fa-check-double"></i>Ullamco laboris nisi ut aliquip ex ea commodo consequat
                        </li>

                        <li>
                            <i class="fas fa-check-double"></i>Ullamco laboris nisi ut aliquip ex ea commodo consequat
                        </li>

                        <li>
                            <i class="fas fa-check-double"></i>Ullamco laboris nisi ut aliquip ex ea commodo consequat
                        </li>
                    </ul>

                    <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <button type="button" class="btn btn-outline-primary px-4">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="card">
    <div class="container">
        <div class="row">
            <div class="cardContent  col-lg-4 col-md-6 col-sm-12 ">
                <div class="card-item text-center">
                    <i class="fas fa-laptop"></i>
                    <h5><a href="#">Lorem Ipsum</a></h5>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                </div>
            </div>

            <div class="cardContent col-lg-4 col-md-6 col-sm-12">
                <div class="card-item text-center">
                    <i class="fas fa-laptop"></i>
                    <h5><a href="#">Lorem Ipsum</a></h5>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                </div>
            </div>

            <div class="cardContent col-lg-4 col-md-6 col-sm-12">
                <div class="card-item text-center">
                    <i class="fas fa-laptop"></i>
                    <h5><a href="#">Lorem Ipsum</a></h5>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                </div>
            </div>

            <div class="cardContent col-lg-4 col-md-6 col-sm-12">
                <div class="card-item text-center">
                    <i class="fas fa-laptop"></i>
                    <h5><a href="#">Lorem Ipsum</a></h5>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                </div>
            </div>

            <div class="cardContent col-lg-4 col-md-6 col-sm-12">
                <div class="card-item text-center">
                    <i class="fas fa-laptop"></i>
                    <h5><a href="#">Lorem Ipsum</a></h5>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                </div>
            </div>

            <div class="cardContent col-lg-4 col-md-6 col-sm-12">
                <div class="card-item text-center">
                    <i class="fas fa-laptop"></i>
                    <h5><a href="#">Lorem Ipsum</a></h5>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="recentPhoto">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="recentText text-center">
                    <h1>Recent Photos</h1>
                    <p>
                        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
                    </p>
                </div>
            </div>
            <div class="row pe-0 pe-lg-2">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-theme">
                        <div><img src="~/OwlCarouselImg/1.jpg"> </div>
                        <div><img src="~/OwlCarouselImg/2.jpg"> </div>
                        <div><img src="~/OwlCarouselImg/3.jpg"> </div>
                        <div><img src="~/OwlCarouselImg/4.jpg"> </div>
                        <div><img src="~/OwlCarouselImg/5.jpg"> </div>
                        <div><img src="~/OwlCarouselImg/6.jpg"> </div>
                        <div><img src="~/OwlCarouselImg/7.jpg"> </div>
                        <div><img src="~/OwlCarouselImg/8.jpg"> </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>